body{
    margin: 0;
    background-color:rgb(243, 243, 223);
    font-family: 'Cabin', sans-serif;}

img{
    height: auto;
}

main, footer {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header a {
text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

p.logo{
    background-color: white;
    padding: 40px 40px 40px 50px;
    max-width: 300px;
    border-radius: 80px;
}

p.logo img{
    max-width: 200px;
}

p.lente img{
    max-width: 40px;
    padding: 10px;
} 

form input{
    width: 800px;
height: 80px;
align-items: center;
display: flex;
justify-content: center;
}


p.cerca{
    background-color: white;
    border-radius: 40px;
    text-align: center;
width: 80px;
    display: flex;
}

p.lente {
    background-color: #F8972E;
width: 80px;
     height: 80px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
margin: 0 0 0 20px;

}

li.signup {
    background-color: white;
    width: 180px;
    height: 80px;
    border-radius: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
}
li.signin {
    background-color: #F8972E;
    width: 180px;
    height: 80px;
    border-radius: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  li.signin img {
    width: 50px;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header p {
    margin: 0;
    font-weight: bold;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 40px;
}

section.hero {
    background: white;
border-radius: 40px;
margin: 20px;
width: fit-content;
text-align: center;
display: flex;
justify-content: center;
margin: auto;
margin-top: 100px;

}

section.hero h1{
    padding: 30px;
    font-size: 80px;
}

div.introduzione {
    font-size: 30px;
text-align: left;
background-color: white;
border-radius: 40px;
text-align: left;
padding: 0 0 0 100px;
display: grid;
height: fit-content;
margin-left: auto;
margin-right: auto;
gap: 60px;
}

div.introduzione p{
    margin: auto;

}

div.introduzione img {
    background-color: none;
    max-width: 100%;
    grid-column-start: 2;
    margin: auto;
}

div.giappone p{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


h2.titolo{
    font-size: 100px;
    background-color: white;
    border-radius: 40px;
    max-width: 600px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
}

div.giappone p.testo{
    background-color: white;
    border-radius: 40px;
    text-align: left;
    font-size: 30px;
    margin-top: auto;
    margin-right: auto;
    width: 100%;
    height: fit-content;
    padding: 50px;
    
}

li.scopri{
    background-color: transparent;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

img.freccia{
    width: 50px;
}

div ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

div.column {
  float: left;
  width: 33.33%;
  padding: 5px;   
}

div.row::after {
    content: "";
    clear: both;
    display: table;
  }

img.tofu{
    width: 100%;
    margin-left: 100px;
}

img.riso{
    width: 100%;
}

img.egitto1{
    width: 100%;
    margin-left: 10%;
}

img.egitto2{
    width: 100%;
    margin-left: 100px;
margin-right: 10%;
}

img.messico1{
    width: 100%;
}

img.messico2{
    width: 100%;
    margin-left: 100px;
}

div.fine{
margin-top: 300px;
background-color: white;
border-radius: 40px;
font-size: 40px;
text-align: center;
padding: 10px;
}

img.caffè2{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.newsletter{
    background-color: white;
    border-radius: 40px;
border: 3px solid #F8972E;
width: 350px;
height: 200px;
margin-left: 800px;
margin-top: 200px;
padding-top: 10px;
margin-bottom: 100px;
}

div.newsletter h2{
    font-size: 20px;
    text-align: center;
}

div.newsletter p{
    justify-content: center;
    display: flex;
font-size: 15px;
}

p.email{
    color: grey;
    font-size: 10px;
}

img.freccia2{
margin-left: 50%;
margin-right: 50%;
width: 10px;
margin-bottom: 10px;
}

input.email{
    max-width: 200px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
}

footer{
    text-align: center;
    padding: 0;
    border-top:5px solid rgba(0,0,0,0.1);

}

footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 200px;
    margin-bottom: 100px;
    margin-top: 100px;
font-size: 15px;

}

@media (max-width:1600px) {
    body{
        background: #FFBABA;
    }
    